{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1><span class="font-semi-bold">Raja</span> <span class="smaller">Plateforme de test</span></h1>
    <p class="lead"><span class="font-semi-bold">404</span> Page non trouvée</p>
  </div>
</div>
{% endblock content %}
