{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    {% if edit is defined %}
      <div class="alert alert-success">
Cette réservation a bien été enregistrée, son lien d'édition est&nbsp;:
{% include 'copy_script.jinja2' %}
Le suivre vous permet d'éditer ou supprimer votre réservation.<br/>
<b>Copiez-le dans un endroit sûr et assurez-vous de ne pas le perdre&nbsp;!</b>
      </div>
    {% endif %}
    {% if note is defined and note %}
      <div class="alert alert-info">
<b>Informations à l'attention des participants&nbsp;:</b><br/>
{{note}}
      </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="content">
    <h1>Réserver une partie</h1>
    {% include 'data_notice.jinja2' %}
    {% autoescape false %}
      {{form}}
    {% endautoescape %}
    </ul>
  </div>
</div>
{% endblock content %}
