<div class="form-inline input-group has-success">
  <div class="input-group">
    <input id="tokenlink" class="form-control is-valid col-sm-10" type="text" value="{{request.url}}" autofocus checked readonly onclick="select()"/>
    <div class="input-group-addon btn btn-success" onclick="copy()">📋</div>
  </div>
</div>
<script type="text/javascript">
  function select() {
    var url = document.getElementById("tokenlink");
    url.select();
    url.setSelectionRange(0, 99999);
  }
  function copy() {
    select();
    document.execCommand("copy");
  }
  select();
</script>
