{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1>{{event.title}}</h1>
    <ul>
        <li><b>Jeu</b>&nbsp;: {{event.topic}}</li>
        <li><b>Animateur</b>&nbsp;: {{event.owner}}</li>
        <li><b>Début</b>&nbsp;: {{event.start}}</li>
        <li><b>Fin</b>&nbsp;: {{event.end}}</li>
        <li>
            <b>Places réservées</b>&nbsp;: {{seats}} / {{event.seats}}
            {% if seats >= event.seats %}
                    <button class="btn btn-warning" disabled>Complet</button>
            {% else %}
                <a href="{{request.route_url('book', id=event.id, token="")}}">
                    <button class="btn btn-primary">Réserver une place</button>
                </a>
            {% endif %}
        </li>
    </ul>
    <p>{{event.details}}</p>
  </div>
</div>
{% endblock content %}
