{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    {% if edit is defined %}
      <div class="alert alert-success">
Cet événement a bien été enregistré, son lien d'édition est&nbsp;:
{% include 'copy_script.jinja2' %}
Le suivre vous permet d'éditer ou supprimer cet événement.<br/>
<b>Copiez-le dans un endroit sûr et assurez-vous de ne pas le perdre&nbsp;!</b>
      </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="content">
    {% if edit is defined %}
      <h1>Gérer une partie</h1>
      <h2>Réservations</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Places</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
              <tr>
                <td>{{booking.name}}</td>
                <td>{{booking.seats}}</td>
                <td>{{booking.note}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Informations</h2>
    {% else %}
      <h1>Proposer une partie</h1>
    {% endif %}
    {% include 'data_notice.jinja2' %}
    {% autoescape false %}
        {{form}}
    {% endautoescape %}
    </ul>
  </div>
</div>
{% endblock content %}
