{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1>Parties</h1>
    <div id="hide_dialog" class="checkbox" style="display: none; visibility: hidden" hidden>
      <input type="checkbox" id="hide_full" name="hide_full" onclick="hide_full(this)">
      <label for="hide_full" class="control-label">Cacher les parties complètes</label>
    </div>
    {% include 'hide_script.jinja2' %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date et horaire</th>
          <th>Durée</th>
          <th>Partie</th>
          <th>Jeu</th>
          <th>Animateur</th>
          <th>Réservations</th>
          <th>Informations</th>
        </tr>
      </thead>
      <tbody>
    {% for event in events %}
        <tr class="{% if not event.seats %}info{% elif event.booked >= event.seats %}warning{% else %}success{% endif %}">
          <td>{{event.start}}</td>
          <td>{{event.end - event.start}}</td>
          <td>{{event.title}}</td>
          <td>{{event.topic}}</td>
          <td>{{event.owner}}</td>
          <td>{{event.booked}}&nbsp;/&nbsp;{{event.seats}}</td>
          <td><a href="{{request.route_url('details', id=event.id)}}"><button class="btn btn-primary">Détails</button></a></td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
