{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <div class="alert alert-success">
Le lien secret de gestion est&nbsp;:
{% include 'copy_script.jinja2' %}
Le suivre est le seul moyen d'accéder à la présente page.<br/>
<b>Copiez-le dans un endroit sûr et assurez-vous de ne pas le perdre&nbsp;!</b>
    </div>
  </div>
</div>
<div class="row">
  <div class="content">
    <h1>Gestion</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date et horaire</th>
          <th>Partie</th>
          <th>Nom</th>
          <th>Courriel</th>
          <th>Places</th>
          <th>Accès</th>
        </tr>
      </thead>
      <tbody>
    {% for event in events %}
        <tr class="{% if not event.seats %}info{% elif event.booked >= event.seats %}warning{% else %}success{% endif %}">
          <td>{{event.start}}</td>
          <td>{{event.title}}</td>
          <td>{{event.owner}}</td>
          <td>{{event.email}}</td>
          <td>{{event.seats}}</td>
          <td><a href="{{request.route_url('edit', token=event.token)}}"><button class="btn btn-primary">Modifier</button></a></td>
        </tr>
        {% for booking in event.bookings %}
            <tr>
              <td></td>
              <td></td>
              <td>{{booking.name}}</td>
              <td>{{booking.email}}</td>
              <td>{{booking.seats}}</td>
              <td><a href="{{request.route_url('book', id=event.id, token=booking.token)}}"><button class="btn btn-primary">Modifier</button></a></td>
            </tr>
        {% endfor %}
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
